<div class="hero-unit">
  <h1>Photos#new</h1>

  <hr>

  <h1>New Photo</h1>

  <%= form_for(:photos, :url => {:action => 'create', :gallery_id => params[:gallery_id]}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div>
        <%= submit_tag('Create', :class => 'btn btn-primary') %>
    </div>
  <% end %>

  <br/>

  <%= link_to('Back to main page', {:action=> 'index', :gallery_id => params[:gallery_id]}, :class => 'btn btn-warning') %>
</div>
