<div class='wrapper'>
  <%= form_tag({:action => 'loginuser'}, {:class => "form-signin"}) do %>
  <h2 class="form-signin-heading">Login</h2>
      <input type="text" class="form-control" name="user" placeholder="User" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required="" />
      <%= submit_tag 'Log in', class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>
