<h1>Categories#delete</h1>

<hr>

<h1>Delete Category</h1>

<%= form_for(:category_delete, :url => {:action => 'remove', :id => @category.id}, :method => 'post') do |f| %>
	<p>Are you sure you want to delete this position?</p>
	<p><%= @category.name %></p>
	<div>
		<%= submit_tag('Delete') %>
	</div>
<% end %>

<br>

<%= link_to('Back to main page', {:action=> 'index'}) %>
