<div class="hero-unit">
	<h1>Categories#edit</h1>

	<hr>

	<h1>Edit Category</h1>

	<%= form_for((:category), :url => {:action => 'update', :id => @category.id}, :method => 'post') do |f| %>

	<%= render(:partial => 'form', :locals => {:f => f}) %>

	<div>
			<%= submit_tag('Update', :class => 'btn btn-primary') %>
	</div>
	<% end %>

	<br>

	<%= link_to('Back to main page', {:action=> 'index'}, :class => 'btn btn-warning') %>
</div>
