<!DOCTYPE html>
<html>
  <head>
    <title>--> Courses <--</title>
    <meta name='viewport' content="width-device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if !flash[:notice].blank? %>
        <div class="alert alert-success" style="text-align: center;">
          <%= flash[:notice] %>
        </div>
      <% end %> 
      <%= yield %>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">
          Created by Tomasz Radwan
        </p>
      </div>
    </div>
  </body>
</html>
