<div class="hero-unit">
  <h1>Article#delete</h1>

  <hr>

  <h1>Delete Article</h1>

  <%= form_for(:articles, :url => {:action => 'remove', :id => @articles.id}, :method => 'POST') do |f| %>
    <div style="padding: 15px">
    <p class="text-warning"><b>Are you sure you want to delete this position?</b></p>
      <p><%= @articles.name %></p>
    </div>
    <div>
      <%= submit_tag('Delete',  :class => 'btn btn-danger') %>
    </div>
  <% end %>

  <br>

  <%= link_to('Back to main page', {:action=> 'index', :category_id => @category_id, :id => params[:page_id]}, :class => 'btn btn-warning') %>
</div>
