<div class="hero-unit">
  <h1>Article#new</h1>

  <hr>

  <h1>New Article</h1>

  <%= form_for(:articles, :url => {:action => 'create', :id => @articles.id, :category_id => @category_id, :page_id => params[:page_id]}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div>
        <%= submit_tag('Create', :class => 'btn btn-primary') %>
    </div>
  <% end %>

  <br/>

  <%= link_to('Back to main page', {:action=> 'index', :id => params[:page_id], :category_id => params[:category_id]}, :class => 'btn btn-warning') %>
</div>
