<div class="hero-unit">
	<h1>Pages#new</h1>

	<hr>

	<h1>New Page</h1>

	<%= form_for((:page), :url => {:action => 'create'}, :method => 'get') do |f| %>

		<%= render(:partial => 'form', :locals => {:f => f}) %>

		<div>
				<%= submit_tag('Create', :class => 'btn btn-primary') %>
		</div>
	<% end %>

	<br/>

	<%= link_to('Back to main page', {:action=> 'index'}, :class => 'btn btn-warning') %>
</div>
